projeto n8n.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=esta e a opcao que o usuario escolheu\n{{ $json.chatInput }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Analise só a última mensagem e retorne UMA intenção:\nCORTAR_CABELO: cortar, agendar, marcar, escolher horário/dia\nFALAR_COM_ATENDENTE: preços, horários, serviços, localização e duvidas sobre a barbearia\nEDITAR_AGENDAMENTO: editar, alterar, cancelar, mudar dia/hora, código\nNAO_IDENTIFICADO: fora de contexto, confuso ou sem sentido\nRetorne JSON, uma opção:\n{ \"Resultado\": \"<INTENCAO>\" }\nRegras:\nAnalise o conteúdo\nNunca pergunte ou explique\nEm dúvida → NAO_IDENTIFICADO"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -2048,
        80
      ],
      "id": "4eb9ff4d-3777-4d05-b2f7-5e36d91b0773",
      "name": "AI Agent",
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -2080,
        240
      ],
      "id": "9e35ab73-6535-4af0-b59a-28a61fd6fdcc",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "77auRNCYiGGm0c3R",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c4391f89-3cf8-4da3-b319-daab5e670744",
              "name": "Resposta",
              "value": "=seja bem-vindo à nossa barbearia.\n\nComo podemos ajudá-lo hoje?\nEscolha uma opção:\n\n1. Cortar o cabelo\n2. falar com atendente\n3. cancelar um agendamento\n4. Voltar",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2432,
        128
      ],
      "id": "24dbd56b-f068-4255-8983-bee425914419",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "message": "={{ $json.Resposta }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1,
      "position": [
        -2272,
        80
      ],
      "id": "9f3b5061-7a6c-48a6-8a73-23faa61984b7",
      "name": "Respond to Chat"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"resultado\": \"CORTAR_CABELO\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -1808,
        224
      ],
      "id": "9212d8ca-8c9f-481a-a89f-d6f9c0072446",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "94779c05-4678-4638-9330-557b2443a58b",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "CORTAR_CABELO",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "CORTAR"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "0f2003ae-1842-4e86-94ca-87cf110912e8",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "FALAR_COM_ATENDENTE",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "FALAR COM ATENDENTE"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "018bc08e-3b5b-4681-9417-13c8fcab2a18",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "EDITAR_AGENDAMENTO",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Cancelar"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -1264,
        176
      ],
      "id": "0e8512c7-e9d8-4492-bce1-052425f74bf6",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "03aca54b-e351-4e7d-8048-bb4858e1b331",
              "name": "output",
              "value": "={{ $json.output.resultado }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1712,
        96
      ],
      "id": "3ae206bb-d52c-4a6c-bdd1-cc3984ea3220",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "message": "={{ $json.Cortar }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1,
      "position": [
        448,
        144
      ],
      "id": "4c1cfbc8-820a-4e21-9acb-f9f5f25255c8",
      "name": "Respond to Chat1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a44ac687-d5ed-4431-9d97-4bfbe6b25515",
              "name": "Cortar",
              "value": "={{\n  \"Por favor, escolha o barbeiro para o seu corte de cabelo:\\n\\n\" +\n  $items().map((item, index) =>\n    `${index + 1}. ${item.json.Nome}`\n  ).join(\"\\n\") +\n  `\\n${$items().length + 1}. Voltar`\n}}\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        288,
        144
      ],
      "id": "db8e58c8-a60d-4a6a-8aee-1e6d64c56f75",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=esta e a opcao de barbeiro que o usuario escolheu\n{{ $json.chatInput }}\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Você é um validador de entrada em um atendimento de WhatsApp de uma barbearia.\nAnalise a mensagem do cliente e verifique se ela corresponde a um barbeiro válido.\nA lista de barbeiros válidos é fornecida pela variável:\n{{ $('Edit Fields2').item.json.Cortar }}\nRegras de validação\nO cliente pode informar o barbeiro por nome ou por número (posição na lista)\nA comparação deve ser flexível (ignorar maiúsculas/minúsculas e pequenos erros)\nSe o barbeiro existir na lista, retorne exatamente o nome correspondente\nNão explique decisões\nVoltar (prioridade)\nSe a mensagem indicar intenção de voltar, retorne:\n{\n  \"Barbeiro\": \"AAA\",\n  \"Status\": \"Voltar\"\n}\nEntrada inválida\nSe a mensagem:\nNão corresponder a nenhum barbeiro da lista\nFor confusa\nNão puder ser interpretada com segurança\nRetorne:\n{\n  \"Barbeiro\": \"AAA\",\n  \"Status\": \"Nao_identificado\"\n}\nBarbeiro válido\nSe corresponder a um barbeiro da lista, retorne:\n{\n  \"Barbeiro\": \"<nome_do_barbeiro>\",\n  \"Status\": \"Ok\"\n}\nRegras finais\nRetorne apenas JSON válid\nNão retorne texto fora do JSON\nRetorne somente um dos cenários acima"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        736,
        144
      ],
      "id": "d6d0635d-7230-4098-b753-67e28dcbc960",
      "name": "AI Agent1",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        672,
        352
      ],
      "id": "d324a5b6-a197-4927-abd8-d98b79488f0b",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "77auRNCYiGGm0c3R",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"Barbeiro\": \"Gabriel\",\n  \"Status\": \"Ok\"\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        928,
        336
      ],
      "id": "28c7a64a-ee45-4b03-996e-053b8f3a80a4",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d91908a9-4a80-4ee6-81c1-5b663f467cf2",
              "name": "barbeiro",
              "value": "={{ $json.output.barbeiro }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1104,
        144
      ],
      "id": "1c9b9358-7e4f-4675-ad99-0a86b707106b",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "content": "## Verifica qual barbeiro o usuarios escolheu para cortar o cabelo\n",
        "height": 720,
        "width": 1552,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        16,
        32
      ],
      "typeVersion": 1,
      "id": "9d4858f2-484b-4865-b293-f0f29f56caec",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "message": "={{ $json.horas }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1,
      "position": [
        3008,
        224
      ],
      "id": "d9f7c9ed-bc8c-4e3e-b6c8-4b497c1ca8d7",
      "name": "Respond to Chat2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "33c77fff-b624-42b7-bbad-f5e53b115e35",
              "name": "data",
              "value": "Informe o dia e o mês do corte (ex: 02/01 ou 2 de janeiro) para eu verificar os horários disponíveis.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1680,
        112
      ],
      "id": "dcb2ecec-c609-4de7-8a53-3d827cd4cdc6",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "message": "={{ $json.data }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1,
      "position": [
        1808,
        112
      ],
      "id": "11ed8559-3e57-4e38-a762-c4432abbcffe",
      "name": "Respond to Chat3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=esta e o dia e o mes que o usuario escolheu\n{{ $json.chatInput }}\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Você é um assistente de extração e validação de datas.\nAnalise exclusivamente a última mensagem do usuário e identifique DIA e MÊS, sem usar contexto implícito.\n1. Identificação\nExtraia DIA e MÊS em qualquer forma comum do português:\nNumérica, por extenso, abreviada ou informal\nCom texto adicional irrelevante\nCom erros leves de digitação no mês\nIgnore qualquer conteúdo que não seja DIA ou MÊS.\n2. Normalização\nDIA → número inteiro\nMÊS → número inteiro (1–12)\nNunca use contexto implícito como: hoje, amanhã, esse mês, próxima semana.\n3. Validação\nConsidere válido somente se:\nDIA entre 1 e 31\nMÊS entre 1 e 12\nA data não for impossível\n4. Classificação (OBRIGATÓRIA)\nRetorne apenas um dos status abaixo.\nA. Voltar (prioridade absoluta)\nUse quando houver intenção clara de voltar ou retornar ao menu.\n{\n  \"Status\": \"Voltar\",\n  \"Dia\": 0,\n  \"Mes\": 0\n}\nB. OK (data válida)\nUse somente se DIA e MÊS forem identificados com certeza e válidos.\n{\n  \"Status\": \"OK\",\n  \"Dia\": 12,\n  \"Mes\": 10\n}\nC. NAO_ENTENDIDO\nUse quando:\nNão for possível identificar DIA ou MÊS\nA data for inválida ou impossível\nHouver qualquer dúvida\nA mensagem não contiver data\n{\n  \"Status\": \"NAO_ENTENDIDO\",\n  \"Dia\": 0,\n  \"Mes\": 0\n}\nRegras finais\nRetorne somente JSON\nNunca invente datas\nNunca presuma contexto\nNunca misture status\nSe não houver 100% de certeza, use NAO_ENTENDIDO"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1968,
        112
      ],
      "id": "ff559024-cfb3-43e3-956e-ab3dca6a479d",
      "name": "AI Agent2",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1936,
        288
      ],
      "id": "3dd0b317-807f-4537-a1f5-93f5be0a4e7d",
      "name": "Groq Chat Model2",
      "credentials": {
        "groqApi": {
          "id": "77auRNCYiGGm0c3R",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"Status\": \"OK\",\n\t\"Dia\": 1,\n    \"Mes\" : 10\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2224,
        256
      ],
      "id": "2817ab6b-c864-496f-b371-24bdea67137b",
      "name": "Structured Output Parser2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "76d2c41d-522f-4658-b23e-a458e4d4ccc8",
              "name": "horas",
              "value": "=Confira abaixo os horários disponíveis para o dia {{ $('AI Agent2').item.json.output.Dia }} de {{\n  (() => {\n    const meses = [\n      \"janeiro\",\"fevereiro\",\"março\",\"abril\",\"maio\",\"junho\",\n      \"julho\",\"agosto\",\"setembro\",\"outubro\",\"novembro\",\"dezembro\"\n    ];\n    return meses[$('AI Agent2').item.json.output.Mes- 1];\n  })()\n}}:\n\n{{\n  (() => {\n    // pega todas as horas ocupadas (ex: [\"08:00\", \"09:00\"])\n    const horasOcupadas = $items().map(item => item.json.hora);\n\n    const horarios = [\n      \"07:00\",\"08:00\",\"09:00\",\"10:00\",\"11:00\",\"12:00\",\n      \"13:00\",\"14:00\",\"15:00\",\"16:00\",\"17:00\",\"18:00\"\n    ];\n\n    const disponiveis = horarios\n      .filter(h => !horasOcupadas.includes(h))\n      .map(h => `• ${h}\\n`)\n      .join('');\n\n    return (\n      disponiveis || \"Nenhum horário disponível para este dia.\\n\"\n    ) + \"\\n• Voltar\";\n  })()\n}}\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2832,
        208
      ],
      "id": "97c9b9d0-8a7a-4be4-8acf-d7a4e213ee55",
      "name": "Edit Fields5"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=esta e a hora que o usuario escolheu\n{{ $json.chatInput }}\n\nessas sao as horas que NINGUEM pode marcar\n{{\n  $json.horas\n    .map(h => `- ${h}`)\n    .join('\\n')\n}}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Você é um assistente de extração e validação de horários.\nAnalise exclusivamente a última mensagem do usuário e siga rigorosamente as regras abaixo.\nNunca infira, presuma ou complete informações ausentes.\n1. Identificação do horário\nIdentifique apenas o primeiro horário explícito informado, em qualquer forma comum do português (numérico ou por extenso).\nPalavras extras não invalidam. Os exemplos não limitam possibilidades.\nCasos especiais:\nmeio-dia → 12:00\nmeia-noite → 00:00\nminutos por extenso são válidos\n2. Normalização\nConverta para HH:mm (24h).\nContexto somente se explícito:\nmanhã → 00:00–11:59\ntarde/noite → 12:00–23:59\nRegras:\nNunca presuma período\nSe só a hora for informada, use :00\n3. Validação (REGRA CRÍTICA)\nA lista abaixo contém exclusivamente horários ocupados.\nNenhum horário presente nela pode ser confirmado.\n{{\n  $json.horas\n    .map(h => `- ${h}`)\n    .join('\\n')\n}}\nResumo:\nEstá no array → inválido\nNão está no array → disponível\n4. Voltar (PRIORIDADE ABSOLUTA)\nSe a mensagem indicar intenção clara de voltar, cancelar ou retornar ao menu, ignore qualquer horário e retorne:\n{\n  \"Hora\": \"00:00\",\n  \"Status\": \"Voltar\"\n}\n5. Resultado (obrigatório)\nA. Horário válido\n{\n  \"Hora\": \"HH:mm\",\n  \"Status\": \"Ok\"\n}\nB. Horário ocupado\n{\n  \"Hora\": \"00:00\",\n  \"Status\": \"Erro\"\n}\nC. Não entendido\n{\n  \"Hora\": \"00:00\",\n  \"Status\": \"NaoEntendido\"\n}\nRegras finais\nRetorne somente JSON\nNunca invente horários\nNunca presuma contexto\nSempre normalize para HH:mm\nNunca confirme horários do array\nEm dúvida, use NaoEntendido\nVoltar sempre tem prioridade absoluta"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        3344,
        96
      ],
      "id": "4c1503b2-1ceb-4a5b-99e9-ba5fa82b16c1",
      "name": "AI Agent4",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        3344,
        208
      ],
      "id": "b03d34c6-25f8-4b7a-9e81-ad343ff3fab3",
      "name": "Groq Chat Model4",
      "credentials": {
        "groqApi": {
          "id": "77auRNCYiGGm0c3R",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n   \"Hora\" : \"10:00\",\n  \"Status\": \"Ok\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        3536,
        208
      ],
      "id": "6d0155e1-c6e4-431d-89c0-58e6ef7367e5",
      "name": "Structured Output Parser3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a18cf444-3748-4a4b-8894-dcbb6b7c3ea6",
              "name": "NomeNumero",
              "value": "porfavor informe um número de contato para agendarmos o corte.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4016,
        176
      ],
      "id": "de510fed-52c6-4dfd-b20a-8c2dc5f8b22f",
      "name": "Edit Fields6"
    },
    {
      "parameters": {
        "message": "={{ $json.NomeNumero }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1,
      "position": [
        4224,
        144
      ],
      "id": "7c294144-b5b7-4f17-a01d-bfb8bc1ee239",
      "name": "Respond to Chat4"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=este e o nome e numero do usuario\n{{ $json.chatInput }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Você é um assistente que EXTRAI e VALIDA números de telefone do Brasil.\nAnalise EXCLUSIVAMENTE a última mensagem do usuário.\nIgnore qualquer contexto anterior.\nquando voce indentificar o numero do celular coloque \"+55\" antes do numero caso voce indentifique mas se na tiver o \"+55\" nao coloque se so tiver o \"55\" coloque so o \"+\" fazer isso e de extrema importancia\nex1: 28999063041 voce coloca o +55\nex2: 5528999063041 voce coloca o +\nex3: +5528999060341 voce nao faz nada\n1. DETECÇÃO DE INTENÇÃO DE VOLTAR (PRIORIDADE MÁXIMA)\nSe a mensagem do usuário contiver qualquer uma das palavras abaixo, isoladas ou dentro de frases, considere INTENÇÃO DE VOLTAR mas não se limite apenas nessas mensagens:\nvoltar\nvolta\nretornar\nretorno\ncancelar\nsair\nvoltar atrás\nquero voltar\nRegra:\nNão extraia nem valide telefone\nRetorne imediatamente o JSON de Status = \"Voltar\"\n{\n  \"Numero\": \"0\",\n  \"Status\": \"Voltar\"\n}\n2. EXTRAÇÃO DE TELEFONE\nExtraia apenas um número de telefone, se existir.\nO número pode estar em qualquer formato.\nNunca invente números.\nSe houver mais de um número, considere apenas o primeiro.\n3. NORMALIZAÇÃO\nRemova todos os caracteres que não sejam números.\nO resultado deve conter somente dígitos (0–9).\n4. VALIDAÇÃO\nO telefone será considerado VÁLIDO somente se, após normalização:\nContiver exatamente 10 ou 11 dígitos\nContiver somente números\nNão contiver letras\n5. RESPOSTA (OBRIGATÓRIA)\nResponda EXCLUSIVAMENTE em JSON, sem texto adicional, sem explicações, sem comentários.\nCenários possíveis:\nA) Telefone válido\n{\n  \"Numero\": \"<telefone_normalizado>\",\n  \"Status\": \"Ok\"\n}\nB) Nenhum telefone identificado ou telefone inválido\n{\n  \"Numero\": \"0\",\n  \"Status\": \"NaoEntendido\"\n}\nC) Usuário indicou intenção de voltar\n{\n  \"Numero\": \"0\",\n  \"Status\": \"Voltar\"\n}\nREGRAS ABSOLUTAS\nNunca invente números\nNunca presuma dados\nNunca explique nada\nNunca retorne texto fora do JSON\nSempre retornar apenas um dos três cenários acima\nse verifique o se tem \"+55\" se nao tiver coloque se tiver nao coloque"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        4496,
        160
      ],
      "id": "fba806f4-b172-4531-b78b-0663808b0dc6",
      "name": "AI Agent5",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        4512,
        320
      ],
      "id": "73217bfb-5256-413b-b2c9-92dfbbee8266",
      "name": "Groq Chat Model3",
      "credentials": {
        "groqApi": {
          "id": "77auRNCYiGGm0c3R",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n    \"Numero\": \"28999063041\",\n    \"Status\": \"Ok\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        4704,
        272
      ],
      "id": "9a1753b1-600c-4e16-9591-32c6fbe0dc1a",
      "name": "Structured Output Parser4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "054782ad-9345-492e-a49e-daea5166f931",
              "name": "confirmar",
              "value": "=Confira os dados abaixo:\n\nNome:{{ $('AI Agent3').item.json.output.Nome }}\n\n💈 Barbeiro: {{ $('AI Agent1').item.json.output.Barbeiro }}\n\n📞 Telefone de contato: {{ $json.to }}\n\n📅 Data: {{ $('AI Agent2').item.json.output.Dia }}/{{ $('AI Agent2').item.json.output.Mes }}\n\n⏰ Horário: {{ $('AI Agent4').item.json.output.Hora }}\n\n\nEstá tudo correto?\nResponda **SIM** para confirmar ou **NÃO** para corrigir alguma informação.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5696,
        112
      ],
      "id": "2118eaa1-9897-4b1f-9b05-1207139b83d2",
      "name": "Edit Fields11"
    },
    {
      "parameters": {
        "message": "={{ $json.confirmar }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1,
      "position": [
        5856,
        112
      ],
      "id": "1a46fceb-efd2-4da3-b02d-c09bb801cd1b",
      "name": "Respond to Chat6"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=este e a resposta sim ou nao do usuario\n{{ $json.chatInput }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Analise só a última mensagem e determine o status do agendamento:\nConfirmação clara → \"Ok\"\nNegação/cancelamento/alteração → \"Cancelar\"\nSem indicativo claro → \"Nao_Identificado\"\nRetorne JSON apenas:\n{ \"Status\": \"Ok\" }\n{ \"Status\": \"Cancelar\" }\n{ \"Status\": \"Nao_Identificado\" }\nRegras:\nSempre siga a ordem de prioridade\nNunca misture Status\nNunca presuma intenção\n\"Nao_Identificado\" só se não houver segurança"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        6064,
        80
      ],
      "id": "576b98f7-edb5-4c53-b58d-3d61e2ec9ed8",
      "name": "AI Agent6",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        6048,
        288
      ],
      "id": "e8d1e182-0247-4e1f-9714-e7c1dd517c62",
      "name": "Groq Chat Model6",
      "credentials": {
        "groqApi": {
          "id": "77auRNCYiGGm0c3R",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"Status\": \"Ok\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        6288,
        288
      ],
      "id": "33918513-3bbe-40f9-80ef-ad43ddf29eeb",
      "name": "Structured Output Parser6"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dd66d96a-075a-4cc1-bfcc-d88bd8644533",
              "name": "codigo ",
              "value": "=Agendamento confirmado!\n\nIdentificador do agendamento: {{ $('Code in JavaScript').item.json.codigoPedido }}\n\nPara editar ou cancelar, retorne ao chat e informe este identificador.\n\nAgradecemos por agendar conosco. Será um prazer atendê-lo.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        7136,
        224
      ],
      "id": "f6a375f1-97fa-4a0b-a111-dd179d0fa8e0",
      "name": "Edit Fields12"
    },
    {
      "parameters": {
        "message": "={{ $json['codigo '] }}",
        "waitUserReply": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1,
      "position": [
        7280,
        224
      ],
      "id": "1c170653-109e-4586-bc9b-6837578b087a",
      "name": "Respond to Chat7",
      "executeOnce": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f72a2fb0-f8a7-4271-95ed-00357a7cbded",
              "name": "confirmarOqueFazer",
              "value": "=Por favor, escolha uma opção abaixo:\n\n1.Cortar o cabelo   \n2. falar com atendente  \n3.Editar ou cancelar um agendamento\n4.Voltar",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2480,
        512
      ],
      "id": "53fb9ccc-1170-43d2-bbd9-a89e1bbbc969",
      "name": "Edit Fields14"
    },
    {
      "parameters": {
        "message": "={{ $json.confirmarOqueFazer }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1,
      "position": [
        -2288,
        432
      ],
      "id": "41812eaf-853a-4ec3-a9e0-ec78725f019b",
      "name": "Respond to Chat9"
    },
    {
      "parameters": {
        "content": "## Verifica oque o cliente quer fazer\n",
        "height": 768,
        "width": 1344,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2640,
        16
      ],
      "typeVersion": 1,
      "id": "e2ea6e3c-8e6d-49d1-87e4-480488b8db49",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "97554755-7411-4647-a64b-56bb8332fac8",
              "leftValue": "={{ $json.output }}",
              "rightValue": "NAO_IDENTIFICADO",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1520,
        192
      ],
      "id": "27854cb8-a62a-4a7d-b1f5-14bd0e1a9476",
      "name": "If1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "455ca198-9373-4e18-862b-4a33af6c577e",
              "name": "BarbeiroEscolher",
              "value": "={{\n  \"Por favor, escolha o barbeiro para o seu corte de cabelo:\\n\\n\" +\n  $items().map((item, index) =>\n    `${index + 1}. ${item.json.Nome}`\n  ).join(\"\\n\") +\n  `\\n${$items().length + 1}. Voltar`\n}}\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        304,
        384
      ],
      "id": "4f7e6d68-9e5e-44a3-98a4-37a8fb5f7f2c",
      "name": "Edit Fields15"
    },
    {
      "parameters": {
        "message": "={{ $json.BarbeiroEscolher }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1,
      "position": [
        480,
        352
      ],
      "id": "6d752a29-ee6a-49f3-8817-eda92ada2273",
      "name": "Respond to Chat10"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "Barbeiros",
          "mode": "list",
          "cachedResultName": "Barbeiros"
        },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        128,
        192
      ],
      "id": "b9d09ce3-c352-4b7e-95f7-89e54beb3e3a",
      "name": "Select rows from a table",
      "credentials": {
        "mySql": {
          "id": "4yRHcSmrBOpq0QEG",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "Barbeiros",
          "mode": "list",
          "cachedResultName": "Barbeiros"
        },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        128,
        384
      ],
      "id": "6d4d2b53-9b7b-4865-97a6-f77766525e26",
      "name": "Select rows from a table1",
      "credentials": {
        "mySql": {
          "id": "4yRHcSmrBOpq0QEG",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "clientes",
          "mode": "list",
          "cachedResultName": "clientes"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "mes",
              "value": "={{ $('AI Agent2').item.json.output.Mes }}"
            },
            {
              "column": "dia",
              "value": "={{ $('AI Agent2').item.json.output.Dia }}"
            },
            {
              "column": "Barbeiro",
              "value": "={{ $('AI Agent1').item.json.output.Barbeiro }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        2640,
        176
      ],
      "id": "0ead68b5-0dc8-4b59-9124-643fdcfa1157",
      "name": "Select rows from a table2",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "4yRHcSmrBOpq0QEG",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "clientes",
          "mode": "list",
          "cachedResultName": "clientes"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "Nome",
              "value": "={{ $('AI Agent3').item.json.output.Nome }}"
            },
            {
              "column": "Barbeiro",
              "value": "={{ $('AI Agent1').item.json.output.Barbeiro }}"
            },
            {
              "column": "Numero",
              "value": "={{ $('HTTP Request').item.json.to }}"
            },
            {
              "column": "dia",
              "value": "={{ $('AI Agent2').item.json.output.Dia }}"
            },
            {
              "column": "mes",
              "value": "={{ $('AI Agent2').item.json.output.Mes }}"
            },
            {
              "column": "hora",
              "value": "={{ $('AI Agent4').item.json.output.Hora }}"
            },
            {
              "column": "criado",
              "value": "={{ DateTime.now().setZone('America/Sao_Paulo').toFormat('dd/MM/yyyy HH:mm:ss') }}\n"
            },
            {
              "column": "codigo",
              "value": "={{ $json.codigoPedido }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        6960,
        224
      ],
      "id": "e5d76c23-e4b5-4e8d-ac03-619588a7755f",
      "name": "Insert rows in a table",
      "credentials": {
        "mySql": {
          "id": "4yRHcSmrBOpq0QEG",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\n\n// Lista de códigos já existentes\nconst codigosExistentes = new Set(\n  $input.first().json.data\n    .map(item => item.codigo)\n    .filter(c => c) // remove null ou vazio\n);\n\nfunction gerarCodigoHex() {\n  return crypto.randomBytes(4).toString('hex').toUpperCase();\n}\n\nlet novoCodigo;\n\n// Gera até não existir no array\ndo {\n  novoCodigo = gerarCodigoHex();\n} while (codigosExistentes.has(novoCodigo));\n\nreturn [\n  {\n    json: {\n      codigoPedido: novoCodigo\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6784,
        224
      ],
      "id": "af1f7180-6a07-4ca2-84e5-13426207de11",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "clientes",
          "mode": "list",
          "cachedResultName": "clientes"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "codigo",
              "condition": "IS NOT NULL"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        6624,
        224
      ],
      "id": "e3fdf9d7-402b-4c3c-aeb0-d1318225643b",
      "name": "Select rows from a table3",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "4yRHcSmrBOpq0QEG",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Verifica o dia e o mes do corte",
        "height": 704,
        "width": 928,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1616,
        48
      ],
      "typeVersion": 1,
      "id": "c650acbf-5aa9-4cbb-8571-4886f7b6f040",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "41015b89-d5a9-4cdb-af96-dc3355713e12",
              "leftValue": "={{ $json.output.Status }}",
              "rightValue": "Voltar",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "d172526b-d036-4516-8c11-9b9803a72be0",
              "leftValue": "={{ $json.output.Status }}",
              "rightValue": "=NAO_ENTENDIDO",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2352,
        96
      ],
      "id": "61f3949b-1dca-4625-b7f8-f3083c3b6d72",
      "name": "If5"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1bec01f7-0775-4868-8d7a-5c096567363f",
              "leftValue": "={{ $('AI Agent2').item.json.output.Status }}",
              "rightValue": "NAO_ENTENDIDO",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2384,
        464
      ],
      "id": "a51f6f71-d10c-4975-80b3-2926ce2dc336",
      "name": "If6"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f1bc2cce-8bf3-4e74-8252-3ae5efab5c23",
              "name": "data",
              "value": "=Data inválida.\nInforme apenas o dia e o mês do corte (ex: 02/01 ou 2 de janeiro) para verificar os horários disponíveis.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1744,
        448
      ],
      "id": "c5d921c5-30aa-4b7b-9016-9941f3a2f4cb",
      "name": "Edit Fields7"
    },
    {
      "parameters": {
        "message": "={{ $json.data }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1,
      "position": [
        1920,
        448
      ],
      "id": "f0c48d7e-f214-4dba-8fa5-8cb6dae088a0",
      "name": "Respond to Chat11"
    },
    {
      "parameters": {
        "content": "## verifica a hora do corte\n",
        "height": 704,
        "width": 1376,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2576,
        48
      ],
      "typeVersion": 1,
      "id": "35ecc724-b61c-4301-832f-8fcd80afba52",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.Status }}",
                    "rightValue": "Erro",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "308d0393-56f5-44b4-8700-8a7b31959c05"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "horario ocupado"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "0ae8de1d-1c7c-43ce-bed0-e7501c396c79",
                    "leftValue": "={{ $json.output.Status }}",
                    "rightValue": "Ok",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "OK"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "16e521d1-a3bd-42bc-af31-2e2779191f9e",
                    "leftValue": "={{ $json.output.Status }}",
                    "rightValue": "Voltar",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Voltar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "845edc82-67e1-4c22-8673-8a4cbbe93760",
                    "leftValue": "={{ $json.output.Status }}",
                    "rightValue": "NaoEntendido",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "nao entendio"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        3664,
        128
      ],
      "id": "5e0747d0-d04f-493b-9749-e7e581cff59e",
      "name": "Switch2"
    },
    {
      "parameters": {
        "jsCode": "// Extrai as horas exatamente como vieram do banco\nconst horasDoBanco = $items()\n  .map(item => item.json.hora)\n  .filter(h => !!h); // remove null/undefined\n\n// Remove duplicados (caso existam)\nconst horasUnicas = [...new Set(horasDoBanco)];\n\n// Retorna em um único item\nreturn [\n  {\n    json: {\n      horas: horasUnicas\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2912,
        64
      ],
      "id": "897fd4e0-1198-4098-9626-017203dc35d8",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3152,
        160
      ],
      "id": "1f41cbc7-a265-49fd-a779-f47b320a55cc",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "554741a3-e412-44e8-b512-ed5e701df0b2",
              "name": "horaInvalida",
              "value": "={{\n  \"Não foi possível entender o horário informado.\\n\\n\" +\n  \"Por favor, escreva a hora no formato 00:00 (exemplo: 08:30 ou 14:00).\\n\\n\" +\n  \"Horários disponíveis para o dia \" +\n  $('AI Agent2').item.json.output.Dia +\n  \" de \" +\n  (() => {\n    const meses = [\n      \"janeiro\",\"fevereiro\",\"março\",\"abril\",\"maio\",\"junho\",\n      \"julho\",\"agosto\",\"setembro\",\"outubro\",\"novembro\",\"dezembro\"\n    ];\n    return meses[$('AI Agent2').item.json.output.Mes - 1];\n  })() +\n  \":\\n\\n\" +\n  (() => {\n    // array vindo do Code in JavaScript1\n    const horasOcupadas = $('Code in JavaScript1').item.json.horas;\n\n    const horarios = [\n      \"07:00\",\"08:00\",\"09:00\",\"10:00\",\"11:00\",\"12:00\",\n      \"13:00\",\"14:00\",\"15:00\",\"16:00\",\"17:00\",\"18:00\"\n    ];\n\n    const disponiveis = horarios\n      .filter(h => !horasOcupadas.includes(h))\n      .map(h => `• ${h}\\n`)\n      .join('');\n\n    return (\n      disponiveis || \"Nenhum horário disponível para este dia.\\n\"\n    ) + \"\\n• Voltar\";\n  })()\n}}\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2768,
        480
      ],
      "id": "3bea4c0f-3845-412b-84d3-29003d46f81c",
      "name": "Edit Fields8"
    },
    {
      "parameters": {
        "message": "={{ $json.horaInvalida }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1,
      "position": [
        2928,
        496
      ],
      "id": "b83b8e88-b4bb-4805-b582-87e2ea99fdc1",
      "name": "Respond to Chat12"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c8ef67f0-aec5-4152-9230-43e9160177ca",
              "name": "ocupado",
              "value": "=O horário selecionado já está ocupado \n\nConfira abaixo os horários disponíveis para o dia {{ $('If5').item.json.output.Dia }} de {{\n  (() => {\n    const meses = [\n      \"janeiro\",\"fevereiro\",\"março\",\"abril\",\"maio\",\"junho\",\n      \"julho\",\"agosto\",\"setembro\",\"outubro\",\"novembro\",\"dezembro\"\n    ];\n    return meses[$('If5').item.json.output.Mes - 1];\n  })()\n}}:\n\n{{\n  (() => {\n    // horários já ocupados\n    const horasOcupadas = $('Code in JavaScript1').item.json.horas;\n\n    const horarios = [\n      \"07:00\",\"08:00\",\"09:00\",\"10:00\",\"11:00\",\"12:00\",\n      \"13:00\",\"14:00\",\"15:00\",\"16:00\",\"17:00\",\"18:00\"\n    ];\n\n    const disponiveis = horarios\n      .filter(h => !horasOcupadas.includes(h))\n      .map(h => `• ${h}\\n`)\n      .join('');\n\n    return (\n      disponiveis || \"Nenhum horário disponível para este dia.\\n\"\n    ) + \"\\n• Escolher outra data\\n• Voltar\";\n  })()\n}}\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3280,
        496
      ],
      "id": "7df1c5b5-cdfd-484b-955b-1371c127cdff",
      "name": "Edit Fields16"
    },
    {
      "parameters": {
        "message": "={{ $json.ocupado }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1,
      "position": [
        3536,
        496
      ],
      "id": "cd05c71d-dfbb-41bc-9792-8ad7b98356c2",
      "name": "Respond to Chat13"
    },
    {
      "parameters": {
        "content": "## verifica o numero do cliente\n",
        "height": 704,
        "width": 1616,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3984,
        48
      ],
      "typeVersion": 1,
      "id": "a51b8198-0203-484a-a54e-c8e8a0a0302d",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1b371c5e-ecf9-4dd4-a9a5-357bc60c45aa",
              "leftValue": "={{ $json.output.Status }}",
              "rightValue": "Ok",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "debe1dfb-1804-4cbb-bdc2-a2655a52eff0",
              "leftValue": "={{ $json.output.Numero }}",
              "rightValue": "+55",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        4896,
        160
      ],
      "id": "aa60f690-ea10-4ac3-8a8e-6930d442fa25",
      "name": "If7"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "059d3be8-2aea-43f6-8bd4-cf95cf28c1cc",
              "leftValue": "={{ $json.output.Status }}",
              "rightValue": "Voltar",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        4848,
        496
      ],
      "id": "4585d80a-2077-40b2-a067-d821f3b144e1",
      "name": "If8"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5835323f-16d3-4e27-a110-8b619b48c2a2",
              "name": "numero",
              "value": "Por favor, informe um número de telefone válido ex:+5528999123456..",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4064,
        496
      ],
      "id": "f32263f8-f81f-4663-a34d-38eeb467742e",
      "name": "Edit Fields9"
    },
    {
      "parameters": {
        "message": "={{ $json.numero }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1,
      "position": [
        4304,
        496
      ],
      "id": "c3fa28dc-0478-4eda-9e53-53462f95b713",
      "name": "Respond to Chat14"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "77148c30-4b70-404a-84c8-7c293d357b9a",
              "name": "numeroNaoExiste",
              "value": "O número de telefone informado não existe. Por favor, informe um número válido.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5152,
        432
      ],
      "id": "2e344010-a2ad-4f51-8103-c65643a57567",
      "name": "Edit Fields17"
    },
    {
      "parameters": {
        "message": "={{ $json.numeroNaoExiste }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1,
      "position": [
        5360,
        400
      ],
      "id": "ec4c5cdb-ab3f-49d1-bf31-98ff07737550",
      "name": "Respond to Chat15"
    },
    {
      "parameters": {
        "content": "## Api que verfica se o numero existe\n",
        "height": 512,
        "width": 464,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        5056,
        112
      ],
      "typeVersion": 1,
      "id": "29f71083-f972-4b51-a55d-d9e599f0f0be",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.twilio.com/2010-04-01/Accounts/xxxxxxxxxxxxxx/Messages.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "To",
              "value": "={{ $json.output.Numero }}"
            },
            {
              "name": "From",
              "value": "+12175714643"
            },
            {
              "name": "Body",
              "value": "validation"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        5120,
        160
      ],
      "id": "bc115da1-66ea-4759-9bfa-0a9948af7e3e",
      "name": "HTTP Request",
      "alwaysOutputData": false,
      "credentials": {
        "httpBasicAuth": {
          "id": "5meiOZ1kC8UD7eFo",
          "name": "Unnamed credential"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "content": "## confirmacao do agendamento",
        "height": 704,
        "width": 1856,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        5616,
        48
      ],
      "typeVersion": 1,
      "id": "41070702-2bc6-4e7d-a4c2-16ecab46f3c4",
      "name": "Sticky Note7",
      "disabled": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.Status }}",
                    "rightValue": "Nao_Identificado",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "86ea13b2-3100-4eaa-a00f-46b29e635d76"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Erro"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "9da7e8b5-f863-4f1b-ae7a-1cf25ef47592",
                    "leftValue": "={{ $json.output.Status }}",
                    "rightValue": "Ok",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Ok"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "0b5cc27f-a905-4163-87f2-6c3f5f28ac28",
                    "leftValue": "={{ $json.output.Status }}",
                    "rightValue": "Cancelar",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Cancelar"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        6464,
        80
      ],
      "id": "29480ec9-a470-47d5-9e1f-066afe120402",
      "name": "Switch3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2b734064-3e04-46c0-bbda-cf9913b9b80c",
              "name": "confirmacao",
              "value": "Por favor, escolha “Sim” para confirmar ou “Não” para cancelar ou alterar algo.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5792,
        448
      ],
      "id": "5829f0b5-70f4-45d3-96e3-fa1fad3caa7e",
      "name": "Edit Fields18"
    },
    {
      "parameters": {
        "message": "={{ $json.confirmacao }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1,
      "position": [
        6032,
        448
      ],
      "id": "1a39ea27-2d16-415f-b855-1e9854e3661e",
      "name": "Respond to Chat16"
    },
    {
      "parameters": {
        "content": "## marca um corte de cabelo",
        "height": 800,
        "width": 10016
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1072,
        -16
      ],
      "typeVersion": 1,
      "id": "7f2fee51-4d3a-49ce-aede-33ba8f2e92c2",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "## edita ou cancela o agendamento do corte",
        "height": 704,
        "width": 1408,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        7520,
        48
      ],
      "typeVersion": 1,
      "id": "49369ba0-df13-41ba-a3a8-0daa444419ef",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0a5f0914-a77c-4828-bd87-966152012f33",
              "name": "mudar",
              "value": "=O que você gostaria de alterar no seu agendamento?\n1.Barbeiro\n2.Data (dia/mês)\n3.Horário\n4.Celular\n5.Nome\n6.Cancelar agendamento\n7.Voltar",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        7568,
        112
      ],
      "id": "eea25196-16c8-4dee-b30b-875498c0ba82",
      "name": "Edit Fields20"
    },
    {
      "parameters": {
        "message": "={{ $json.mudar }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1,
      "position": [
        7776,
        112
      ],
      "id": "f1b5563a-f6bb-4f23-a419-bacafaa62f81",
      "name": "Respond to Chat18"
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Você é um assistente de classificação de intenção e extração de dados para agendamentos.\nAnalise apenas a última mensagem do usuário e identifique uma única ação principal, mesmo que esteja informal, incompleta, com erros ou usando o número da opção.\nUse o texto abaixo para extrair o valor atual correspondente à ação:\n{{ $('Edit Fields11').item.json.confirmar }}\nAções possíveis\nBarbeiro\nDia/Mes\nHora\nNumero\nNome\nCancelar\nVoltar\nRegras\nRetorne somente JSON\nNão explique nem pergunte\nInterprete por contexto e sinônimos\nExemplos não são limitadores\nIntenção ambígua/inexistente → Voltar\nCancelar ou Voltar não extraem dados\nFormato de saída\nExtração:\n{\n  \"Modificacao\": \"Opção\",\n  \"Dado\": \"valor_extraido\"\n}\nVoltar:\n{\n  \"Modificacao\": \"Voltar\",\n  \"Dado\": \"null\"\n}\nCancelar:\n{\n  \"Modificacao\": \"Cancelar\",\n  \"Dado\": \"null\"\n}\nTexto de referência\nPode conter: Nome, Barbeiro, Telefone, Data, Horário\nOrdem e formatação variáveis.\nExemplos\nEntrada:\nquero mudar o nome\nSaída\n{\n  \"Modificacao\": \"Nome\",\n  \"Dado\": \"gabriel\"\n}\nEntrada:\ncancelar tudo\nSaída:\n{\n  \"Modificacao\": \"Cancelar\",\n  \"Dado\": \"null\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        8016,
        80
      ],
      "id": "96273ade-3f4b-44fe-b318-48e49b27b317",
      "name": "AI Agent8",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        7936,
        208
      ],
      "id": "68292368-7bc1-4dd6-b4d7-050c640df493",
      "name": "Groq Chat Model8",
      "credentials": {
        "groqApi": {
          "id": "77auRNCYiGGm0c3R",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"Modificacao\": \"Cancelar\",\n  \"Dado\": \"gabriel\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        8192,
        224
      ],
      "id": "5f8f2f6a-5c22-47e6-b93d-f7b4f3aebefb",
      "name": "Structured Output Parser8"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output['Modificacao'] }}",
                    "rightValue": "Barbeiro",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "a275a11c-4650-4dcc-8d2e-9ca305d57441"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "barbeiro"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "4c044012-0d50-4035-81c5-a9bd040ca89e",
                    "leftValue": "={{ $json.output['Modificacao'] }}",
                    "rightValue": "Dia/Mes",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "dia e mes"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "2ed31e15-f847-420f-9f18-eb45c324c7bb",
                    "leftValue": "={{ $json.output['Modificacao'] }}",
                    "rightValue": "Hora",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "hora"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "4c822340-8ed3-490e-bf2b-9a1c159a4207",
                    "leftValue": "={{ $json.output['Modificacao'] }}",
                    "rightValue": "Numero",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "numero"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "721f42c6-ee99-4867-b779-5aeada28139c",
                    "leftValue": "={{ $json.output['Modificacao'] }}",
                    "rightValue": "Cancelar",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "cancelar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "57edc8e6-ab38-403f-a888-f460d1af1939",
                    "leftValue": "={{ $json.output['Modificacao'] }}",
                    "rightValue": "Voltar",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "voltar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "afad22bf-2e5d-4cff-bdb3-63810883de0a",
                    "leftValue": "={{ $json.output['Modificacao'] }}",
                    "rightValue": "Nome",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Nome"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        8352,
        96
      ],
      "id": "279d36df-9c05-4712-bdc5-75f49fa95e93",
      "name": "Switch5"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6675bc3a-81c7-4d87-9963-81cc647037d1",
              "leftValue": "={{ $('Switch5').item.json.output.Modificacao }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3824,
        128
      ],
      "id": "38ba42c3-dcd6-4600-98f9-2ae757d0617a",
      "name": "If9",
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('AI Agent1').item.json.output.Status }}",
                    "rightValue": "Nao_identificado",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "48b9a275-2b79-426c-97f1-22e0fe968d4b"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "nao indetificado"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "e799c02b-0e45-4351-9bdf-bf0a78a12fb5",
                    "leftValue": "={{ $('AI Agent1').item.json.output.Status }}",
                    "rightValue": "Voltar",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "=Voltar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b36b18b1-17ef-44ec-8439-a2a591cf47eb",
                    "leftValue": "={{ $('AI Agent1').item.json.output.Status }}",
                    "rightValue": "Ok",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Ok"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1216,
        272
      ],
      "id": "447b980f-01a1-4093-8d3a-f9dcae5ae544",
      "name": "Switch4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a95facfc-040c-433c-b653-4190e2d8d32e",
              "leftValue": "={{ $('Switch5').item.json.output.Modificacao }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1376,
        112
      ],
      "id": "84406739-a3cb-458d-b8f3-07cabc63d519",
      "name": "If3",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "",
        "options": {
          "responseMode": "responseNodes"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -2576,
        80
      ],
      "id": "6109d96f-c105-4882-9007-fb6cf8e11fd6",
      "name": "When chat message received",
      "webhookId": "23d7f166-fb1c-4227-b6cf-43dfe63d4b73"
    },
    {
      "parameters": {
        "content": "## Verifica o nome o cliente\n",
        "height": 720,
        "width": 1030,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1040,
        32
      ],
      "typeVersion": 1,
      "id": "4bee3799-28fe-460b-9901-c95948b521f8",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "message": "={{ $json.NomeCorreto }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1,
      "position": [
        -672,
        512
      ],
      "id": "cad0564a-db9f-4953-9a9b-d6c9281ccd97",
      "name": "Respond to Chat8"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3377b7f4-a4b5-4093-87c1-0c04065b2854",
              "name": "NomeCorreto",
              "value": "Por favor, informe um nome válido para prosseguir.",
              "type": "string"
            },
            {
              "id": "db90def5-cdb7-4a2f-8669-595b513377f7",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -928,
        512
      ],
      "id": "231c4eb5-3a84-4e82-823f-4e142026f096",
      "name": "Edit Fields13"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6ee22dfd-8168-4497-9c43-6c369f643c33",
              "leftValue": "={{ $json.output.Status }}",
              "rightValue": "Ok",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -320,
        176
      ],
      "id": "38ac39fd-ccf8-491c-b938-d1836ae1d680",
      "name": "If"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"Nome\": \"Gabriel\",\n  \"Status\": \"Ok\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -224,
        320
      ],
      "id": "3bba4e54-fb60-4920-878a-a71b4f143e3e",
      "name": "Structured Output Parser5"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -496,
        336
      ],
      "id": "d9509e1c-fb36-4a4e-b73d-8b537772bdef",
      "name": "Groq Chat Model5",
      "credentials": {
        "groqApi": {
          "id": "77auRNCYiGGm0c3R",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=este e o nome do usuario \n{{ $json.chatInput }}\n\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Analise só a última mensagem e tente extrair um nome próprio.\nVálido: apenas letras e espaços, mínimo 2 caracteres\nNão pode ter números, símbolos, emojis\nRetorne JSON:\nNome válido:\n{ \"Nome\": \"<nome_extraido>\", \"Status\": \"Ok\" }\nNome não identificado:\n{ \"Nome\": \"AAAA\", \"Status\": \"Nao_entendido\" }\nRegras:\nNunca invente nomes\nNão explique\nEm dúvida → Nao_entendido"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -576,
        160
      ],
      "id": "a2a01a94-3788-4897-89b9-55b05a0714f6",
      "name": "AI Agent3",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "message": "={{ $json.Nome }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1,
      "position": [
        -704,
        160
      ],
      "id": "535e0010-a780-4d9d-bbbb-25b27111a2a8",
      "name": "Respond to Chat5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8f4632ba-7c23-4962-9ebe-045e5c9bfb1a",
              "name": "Nome",
              "value": "Para prosseguir, por favor, informe seu nome",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -912,
        160
      ],
      "id": "6b07b765-6b4b-453f-9cac-6f12b50cb035",
      "name": "Edit Fields10"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6675bc3a-81c7-4d87-9963-81cc647037d1",
              "leftValue": "={{ $('Switch5').item.json.output.Modificacao }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        5440,
        160
      ],
      "id": "658250a7-ff40-4fea-a4f2-93d1426a240d",
      "name": "If10",
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6675bc3a-81c7-4d87-9963-81cc647037d1",
              "leftValue": "={{ $('Switch5').item.json.output.Modificacao }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -144,
        160
      ],
      "id": "83c2ac92-ad97-4124-8973-41c54377d1de",
      "name": "If11",
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6d222348-cd24-4edd-b9f2-5d8c507f50a8",
              "name": "codigo",
              "value": "Por favor, informe o código de identificação único do seu corte para realizar o cancelamento.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1008,
        944
      ],
      "id": "1ea6a463-6310-4058-b08e-8fddbc13e2c6",
      "name": "Edit Fields19"
    },
    {
      "parameters": {
        "message": "={{ $json.codigo }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1,
      "position": [
        -800,
        944
      ],
      "id": "e16f0d26-a3c0-47f9-9453-c4c49d28d597",
      "name": "Respond to Chat17"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "clientes",
          "mode": "list",
          "cachedResultName": "clientes"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "codigo",
              "value": "={{ $('AI Agent7').item.json.output.Codigo }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -96,
        944
      ],
      "id": "a307de42-3faf-485d-b970-71aee9ed6bf9",
      "name": "Select rows from a table4",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "4yRHcSmrBOpq0QEG",
          "name": "MySQL account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "af7ca52b-b3df-4b5e-9ce6-837915347ea3",
              "name": "cancelar",
              "value": "=Deseja cancelar o agendamento com as informações abaixo?\n\nNome: {{ $json.Nome }}\nBarbeiro: {{ $json.Barbeiro }}\nTelefone: {{ $json.Numero }}\nData: {{ $json.dia }}/{{ $json.mes }}\nHorário: {{ $json.hora }}\nCódigo do agendamento: {{ $json.codigo }}\nCriado em: {{ $json.criado }}\n\nPor favor, confirme para prosseguir com o cancelamento ou recuse para voltar.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        128,
        928
      ],
      "id": "03fa2143-422d-437d-819b-01438556670d",
      "name": "Edit Fields21"
    },
    {
      "parameters": {
        "message": "={{ $json.cancelar }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1,
      "position": [
        304,
        928
      ],
      "id": "8d7ea2e1-21a2-414a-8111-82426b84078b",
      "name": "Respond to Chat19"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ea6e36c8-a81e-4998-a832-ed39b2142bdf",
              "name": "erro",
              "value": "Este código não existe ou é inválido. Por favor, informe um código válido para continuar.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -864,
        1248
      ],
      "id": "5bfc74a7-0b93-4414-8826-47a1e94b8995",
      "name": "Edit Fields22"
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Instrução\nAnalise exclusivamente o conteúdo de:\n{{ $json.chatInput }}\nIdentifique se existe um código hexadecimal válido.\nCódigo hexadecimal válido\nApenas caracteres 0–9 e A–F (maiúsculo ou minúsculo)\nExatamente 8 caracteres\nSem espaços, símbolos ou texto adicional\nCompatível com:\ncrypto.randomBytes(4).toString('hex').toUpperCase()\nRetorno (obrigatório)\nRetorne somente JSON válido, sem texto adicional.\n1. Código válido identificado\n{\n  \"Codigo\": \"CODIGO_EXTRAIDO_DA_MENSAGEM\",\n  \"Status\": \"Ok\"\n}\n2. Intenção clara de voltar / cancelar / sair\n{\n  \"Codigo\": \"000\",\n  \"Status\": \"Voltar\"\n}\n3. Nenhum código identificado\n{\n  \"Codigo\": \"000\",\n  \"Status\": \"Nao_identificado\"\n}\nRegras finais\nRetornar apenas um dos formatos\nNão explicar nem justificar\nPrioridade:\nVoltar\nCódigo válido\nNão identificado "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -608,
        928
      ],
      "id": "5796b141-a2ba-4f9a-8370-975b4c1624a5",
      "name": "AI Agent7",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -704,
        1088
      ],
      "id": "5f8f1880-b3c0-41ab-ae0c-67ff3e656961",
      "name": "Groq Chat Model7",
      "credentials": {
        "groqApi": {
          "id": "77auRNCYiGGm0c3R",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"Codigo\": \"7B2560D8\",\n   \"Status\": \"Ok\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -448,
        1088
      ],
      "id": "cc637311-f572-4eb7-bfd0-e9efdb7f3791",
      "name": "Structured Output Parser7"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.Status }}",
                    "rightValue": "Ok",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "407629f3-4594-4f08-8a53-e40c81dda0ca"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Ok"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "1d039196-109e-46ee-984c-ca9ced889351",
                    "leftValue": "={{ $json.output.Status }}",
                    "rightValue": "Voltar",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Voltar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "0acf2843-da8d-47b5-a4d5-d830f91a387d",
                    "leftValue": "={{ $json.output.Status }}",
                    "rightValue": "Nao_identificado",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Nao indentificado"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -336,
        912
      ],
      "id": "15a94fab-fade-4c6c-b37f-0f7e702a15f4",
      "name": "Switch1"
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Analise exclusivamente:\n{{ $json.chatInput }}\nDetermine se o usuário confirma o cancelamento do agendamento.\nRetorno obrigatório\nApenas JSON válido, sem texto adicional.\n{ \"Confirmacao\": true }\nou\n{ \"Confirmacao\": false }\nRegras\nConsiderar somente a última mensagem\nNão explicar nem justificar\nEm caso de dúvida ou ambiguidade:\n{ \"Confirmacao\": false }"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        448,
        928
      ],
      "id": "816303df-27f7-4149-997d-ae339a391084",
      "name": "AI Agent9",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"Confirmacao\": true\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        656,
        1136
      ],
      "id": "bdacf32f-d50e-40ca-bd25-809c194cfc5a",
      "name": "Structured Output Parser9"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        352,
        1136
      ],
      "id": "19dfd6ad-238e-4568-81e5-9e0472ebded5",
      "name": "Groq Chat Model9",
      "credentials": {
        "groqApi": {
          "id": "77auRNCYiGGm0c3R",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4318bcc0-2880-45a3-be27-140eb165a334",
              "leftValue": "={{ $json.output.Confirmacao }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        736,
        944
      ],
      "id": "d5b751ca-4a72-43c9-8ef5-8cc3df6913ce",
      "name": "If2"
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "table": {
          "__rl": true,
          "value": "clientes",
          "mode": "list",
          "cachedResultName": "clientes"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "codigo",
              "value": "={{ $('Select rows from a table4').item.json.codigo }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        896,
        912
      ],
      "id": "67a286a2-b609-482c-aff6-d5faa7c1076a",
      "name": "Delete table or rows",
      "credentials": {
        "mySql": {
          "id": "4yRHcSmrBOpq0QEG",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "message": "={{ $json.erro }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1,
      "position": [
        -608,
        1216
      ],
      "id": "4084cd2e-720e-48f3-9ed5-73d4ee03e461",
      "name": "Respond to Chat20"
    },
    {
      "parameters": {
        "content": "## Cancela um agendamento\n",
        "height": 608,
        "width": 2640,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1072,
        832
      ],
      "typeVersion": 1,
      "id": "5c9e99de-d9b0-4604-9042-03a03645d3fc",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "## verifica o codigo unico\n",
        "height": 528,
        "width": 912,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1056,
        880
      ],
      "typeVersion": 1,
      "id": "421ac6b4-950f-4142-8e96-4e50585bc550",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "content": "## cancela o corte\n",
        "height": 528,
        "width": 1136
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -112,
        880
      ],
      "typeVersion": 1,
      "id": "62a98d58-e694-47ec-b969-83d120a8ca83",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "content": "##  caso de erro",
        "height": 336,
        "width": 1344
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2656,
        -352
      ],
      "typeVersion": 1,
      "id": "dcf4ac13-bd8c-4cee-8576-7aa76a39de54",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "54357f1c-663d-4baf-bd58-5ed11f9f3821",
              "name": "erro",
              "value": "“Ops, algo deu errado. Tente novamente mais tarde ou faça o agendamento pelo nosso site: 👉 https://seusite.com”",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2544,
        -192
      ],
      "id": "c98cd74d-5bf5-4210-9a61-2b3ec888f9bd",
      "name": "Edit Fields23"
    },
    {
      "parameters": {
        "message": "={{ $json.erro }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1,
      "position": [
        -2368,
        -192
      ],
      "id": "7f277513-7e6a-40bc-b111-11e20cb44a23",
      "name": "Respond to Chat21"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -2096,
        -192
      ],
      "id": "e8458323-2083-49fb-8a5f-21e182bf6cd8",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3EE74C47BB2B01666445B290D6FA202A/token/EA7308D9D6EB0204D7F2CC0B/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Client-Token",
              "value": "F91f4dceb6be147e98ad97ecb622e1a8eS"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"phone\": \"+5528999063041\",\n  \"message\": \"erro: {{ $json.execution.error.message }}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1920,
        -192
      ],
      "id": "ef290a65-ff8c-4561-a76b-476939e0b89b",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3EE74C47BB2B01666445B290D6FA202A/token/EA7308D9D6EB0204D7F2CC0B/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Client-Token",
              "value": "F91f4dceb6be147e98ad97ecb622e1a8eS"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"phone\": \"55{{ $json.Numero }}\",\n  \"message\": \"o corte com as informacoes:\nNome:{{ $('Select rows from a table4').item.json.Nome }}\nNumero:{{ $('Select rows from a table4').item.json.Numero }}\ndia:{{ $('Select rows from a table4').item.json.dia }}/{{ $('Select rows from a table4').item.json.mes }}\"\nhora:{{ $('Select rows from a table4').item.json.hora }}\nfoi cancelado\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1296,
        1040
      ],
      "id": "0ad599a0-272c-4afe-ba56-44e223a0d631",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "Barbeiros",
          "mode": "list",
          "cachedResultName": "Barbeiros"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "Nome",
              "value": "={{ $('Select rows from a table4').item.json.Barbeiro }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        1120,
        1024
      ],
      "id": "2480b498-2f12-4038-90aa-805922be0fd5",
      "name": "Select rows from a table5",
      "credentials": {
        "mySql": {
          "id": "4yRHcSmrBOpq0QEG",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "content": "## envia a mensagem para o barbeiro falando que foi cancelado",
        "height": 528,
        "width": 480,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1056,
        880
      ],
      "typeVersion": 1,
      "id": "30907676-e51a-48cc-b45e-af507718f2d7",
      "name": "Sticky Note14"
    },
    {
      "parameters": {
        "content": "## se der algum erro chega mensagem no meu zap\n",
        "height": 272,
        "width": 422,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2128,
        -304
      ],
      "typeVersion": 1,
      "id": "735eafed-a6ff-462c-8f11-95f04549090c",
      "name": "Sticky Note15"
    },
    {
      "parameters": {
        "content": "## se der erro em alguma ia fala para agendar pelo site\n",
        "height": 256,
        "width": 416,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2592,
        -304
      ],
      "typeVersion": 1,
      "id": "600176b8-6e33-4d59-815c-da716dd1d9a5",
      "name": "Sticky Note17"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3EE74C47BB2B01666445B290D6FA202A/token/EA7308D9D6EB0204D7F2CC0B/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Client-Token",
              "value": "F91f4dceb6be147e98ad97ecb622e1a8eS"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"phone\": \"+5528999063041\",\n  \"message\": \"erro: {{ $json.execution.error.message }}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        7184,
        528
      ],
      "id": "44040443-592f-4383-bd40-31af5ac90025",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "Barbeiros",
          "mode": "list",
          "cachedResultName": "Barbeiros"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "Nome",
              "value": "={{ $('AI Agent1').item.json.output.Barbeiro }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        6976,
        528
      ],
      "id": "cd8a6d41-ced3-446d-bc23-791c2e95a40b",
      "name": "Select rows from a table6",
      "credentials": {
        "mySql": {
          "id": "4yRHcSmrBOpq0QEG",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a2d7a31d-03dd-41f9-ad7f-772407a382ff",
              "name": "duvida",
              "value": "O que você gostaria de saber sobre a barbearia?",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1024,
        -240
      ],
      "id": "c73ab76b-bcc2-48cf-ad70-d08d1bc4924c",
      "name": "Edit Fields24"
    },
    {
      "parameters": {
        "message": "={{ $json.duvida }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1,
      "position": [
        -832,
        -240
      ],
      "id": "c14ee162-96b2-409b-ab04-443a0759a280",
      "name": "Respond to Chat22"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3EE74C47BB2B01666445B290D6FA202A/token/EA7308D9D6EB0204D7F2CC0B/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Client-Token",
              "value": "F91f4dceb6be147e98ad97ecb622e1a8eS"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"phone\": \"+5528999063041\",\n  \"message\": \"{{ $json.chatInput }}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -624,
        -240
      ],
      "id": "5019a9f0-7b8a-427d-89d6-7be4df480b51",
      "name": "HTTP Request4"
    },
    {
      "parameters": {
        "content": "## falar com o atendente\n",
        "height": 304,
        "width": 640,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1072,
        -352
      ],
      "typeVersion": 1,
      "id": "3eaa2526-8937-4e78-b220-8a6df762b37c",
      "name": "Sticky Note16"
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields23",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Respond to Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Chat": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields10",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields24",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields19",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Respond to Chat1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Chat1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields23",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Switch4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Chat2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Respond to Chat3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Chat3": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser2": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "If5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields23",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "Respond to Chat2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent4",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser3": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent4",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent4": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields23",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields6": {
      "main": [
        [
          {
            "node": "Respond to Chat4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Chat4": {
      "main": [
        [
          {
            "node": "AI Agent5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent5",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser4": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent5",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent5": {
      "main": [
        [
          {
            "node": "If7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields23",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields11": {
      "main": [
        [
          {
            "node": "Respond to Chat6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Chat6": {
      "main": [
        [
          {
            "node": "AI Agent6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model6": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent6",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser6": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent6",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent6": {
      "main": [
        [
          {
            "node": "Switch3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields23",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields12": {
      "main": [
        [
          {
            "node": "Respond to Chat7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields14": {
      "main": [
        [
          {
            "node": "Respond to Chat9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Chat9": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Edit Fields14",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields15": {
      "main": [
        [
          {
            "node": "Respond to Chat10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Chat10": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table": {
      "main": [
        []
      ]
    },
    "Select rows from a table1": {
      "main": [
        [
          {
            "node": "Edit Fields15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table2": {
      "main": [
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table": {
      "main": [
        [
          {
            "node": "Edit Fields12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table3": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If5": {
      "main": [
        [
          {
            "node": "If6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Select rows from a table2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If6": {
      "main": [
        [
          {
            "node": "Edit Fields7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Select rows from a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields7": {
      "main": [
        [
          {
            "node": "Respond to Chat11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Chat11": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "AI Agent4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "Edit Fields16",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If9",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields8": {
      "main": [
        [
          {
            "node": "Respond to Chat12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Chat12": {
      "main": [
        [
          {
            "node": "AI Agent4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Chat13": {
      "main": [
        [
          {
            "node": "AI Agent4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields16": {
      "main": [
        [
          {
            "node": "Respond to Chat13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If7": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields9": {
      "main": [
        [
          {
            "node": "Respond to Chat14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If8": {
      "main": [
        [
          {
            "node": "Select rows from a table2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields17": {
      "main": [
        [
          {
            "node": "Respond to Chat15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Chat15": {
      "main": [
        [
          {
            "node": "AI Agent5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If10",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields17",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Chat14": {
      "main": [
        [
          {
            "node": "AI Agent5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch3": {
      "main": [
        [
          {
            "node": "Edit Fields18",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Select rows from a table3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields20",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields18": {
      "main": [
        [
          {
            "node": "Respond to Chat16",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Chat16": {
      "main": [
        [
          {
            "node": "AI Agent6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields20": {
      "main": [
        [
          {
            "node": "Respond to Chat18",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Chat18": {
      "main": [
        [
          {
            "node": "AI Agent8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent8": {
      "main": [
        [
          {
            "node": "Switch5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields23",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model8": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent8",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser8": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent8",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Switch5": {
      "main": [
        [
          {
            "node": "Select rows from a table",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Select rows from a table2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields11",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If9": {
      "main": [
        [
          {
            "node": "Edit Fields11",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch4": {
      "main": [
        [
          {
            "node": "Select rows from a table",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields10",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Edit Fields11",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields13": {
      "main": [
        [
          {
            "node": "Respond to Chat8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Chat8": {
      "main": [
        [
          {
            "node": "AI Agent3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "If11",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent3": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields23",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser5": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Chat5": {
      "main": [
        [
          {
            "node": "AI Agent3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields10": {
      "main": [
        [
          {
            "node": "Respond to Chat5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If10": {
      "main": [
        [
          {
            "node": "Edit Fields11",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If11": {
      "main": [
        [
          {
            "node": "Edit Fields11",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Select rows from a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields19": {
      "main": [
        [
          {
            "node": "Respond to Chat17",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Chat17": {
      "main": [
        [
          {
            "node": "AI Agent7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table4": {
      "main": [
        [
          {
            "node": "Edit Fields21",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields22",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields21": {
      "main": [
        [
          {
            "node": "Respond to Chat19",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model7": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent7",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser7": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent7",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent7": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields23",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Select rows from a table4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields22",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Chat19": {
      "main": [
        [
          {
            "node": "AI Agent9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser9": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent9",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model9": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent9",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent9": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields23",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Delete table or rows",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete table or rows": {
      "main": [
        [
          {
            "node": "Select rows from a table5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields22": {
      "main": [
        [
          {
            "node": "Respond to Chat20",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Chat20": {
      "main": [
        [
          {
            "node": "AI Agent7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields23": {
      "main": [
        [
          {
            "node": "Respond to Chat21",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        []
      ]
    },
    "Select rows from a table5": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        []
      ]
    },
    "Select rows from a table6": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Chat7": {
      "main": [
        [
          {
            "node": "Select rows from a table6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields24": {
      "main": [
        [
          {
            "node": "Respond to Chat22",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Chat22": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "17b2d78b-ae86-432e-bac8-aa885ccb8dd9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7b11340cf3675c35398a559fdd41181ac842267711b5b27b2713543df5c8ee5d"
  },
  "id": "s49WwNIJ30TLgqa5Lospx",
  "tags": []
}